# Natural Language Processing
langchain==0.0.267
chromadb==0.4.6
pdfminer.six==20221105
InstructorEmbedding
sentence-transformers==2.2.2
faiss-cpu
huggingface_hub
transformers
autoawq
protobuf==3.20.2
auto-gptq==0.2.2 
docx2txt
unstructured
unstructured[pdf]
tokenizers
llama-cpp-python

# Utilities
urllib3==1.26.6
accelerate
bitsandbytes 
click
flask
requests
flask-cors

# Streamlit related
streamlit
Streamlit-extras

# Excel File Manipulation
openpyxl
